@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
body {
    margin: 0;
    padding: 0;
    background-color:#e0def4 ;
}
body.dark{
    background-color: #555169;
    color: #e0def4
}
.item2.dark{
    background-color: #555169;
    color: #e0def4
}
a.dark{
    color: #e0def4
}
.item1.dark{
    background-color: #555169;
    color: #e0def4;
}

.topnav{
    background-color: #c4a7e7;
    display:flex;
    flex-direction: column;
    align-items: center;
    border: 2rem;
    flex-grow: 2;
    grid-area:h;
    font-family: "Quicksand", sans-serif;
    color: #e0def4

}
.topnav.dark{
    background-color:#1f1d2e;
    color: #e0def4;
}
footer.dark{
    background-color:#1f1d2e;
    color: #e0def4;
    
}
nav li{
    display: inline-block;
}
nav ul{
    list-style: none;
    margin-left: 70px;
    margin-right: 250p
}

.container{
    display: grid;
    grid-template-columns: 20% 80% ;
    grid-template-rows: 3rem 1fr 3rem;
    grid-template-areas: "h h h"
                         "s m m" 
                         "f f f";
    width: 100vw;
    height: 100vh;
    
}
.item1{
    background-color: #e0def4;
    grid-area: s;
    font-family: "Quicksand", sans-serif;
    overflow-x: hidden;
    width:0px;
    color: #191724;
    display: flex;
    flex-direction: column;
}

.item1 ul{
    list-style: none;
}


.item2{
    background-color:#e0def4;
    grid-area: m;
    padding-left: 200px;
    padding-top: 100px;
    font-family: "Montserrat",sans-serif;
    font-size: 25px;

}
footer{
    grid-area: f;
    background-color:  #c4a7e7 ;
    text-align: center;
    color:#191724;
    font-family: "Quicksand", sans-serif;
}
.addnotes{
    width:300px;
    height:100px;
}
textarea {
    font-size: 1rem;
    letter-spacing: 1px;
    padding: 20px;
    line-height: 1;
    border-radius: 1px;
    border: 1px solid;
    box-shadow: 1px 1px 1px;
    background-color: #faf4ed;
    font-family: "Montserrat",sans-serif;
    position:relative;
    top: 200px;
    right:200px; 
}
a{
    text-decoration: none;
    color:#e0def4;
}

.notes{
    display: inline-block;
    background-color: #c4a7e7;
    border-radius: 3px;
    border: 2px double #e0def4;;
    color: #191724;
    text-align: center;
    font-size: 15px;
    padding: 10px;
    width: 60px;
   
}
.txtbtn1,.txtbtn2{
    display: inline-block;
    background-color: #c4a7e7;
    border-radius: 3px;
    border: 2px double #e0def4;;
    color: #191724;
    text-align: center;
    font-size: 15px;
    padding: 10px;
    width: 60px;
    position:relative;
    top: 230px;
    right:300px;

}
.txtbtn1.dark,.txtbtn2.dark{
    display: inline-block;
    background-color:#1f1d2e; ;
    border-radius: 3px;
    border: 2px double #1f1d2e;;
    color: #e0def4;
    text-align: center;
    font-size: 15px;
    padding: 10px;
    width: 60px;
    position:relative;
    top: 230px;
    right:300px;

}


.titlebtns{
    background-color: #e0def4;
    color: #191724;
    text-align: center;
    font-size: 15px;
    border: 2px double #e0def4;;
}
.notes.dark{
    background-color:#1f1d2e;
    color:#e0def4;
}
#open{
    position: fixed;
    top: 48px;
    left:150px
}
.label{
    width:50px;
    height:26px;
    background-color:#1f1d2e;
    display: flex;
    border-radius: 50px;
    position:absolute;
    right:30px;
    top: 50px;
}
.ball{
    width:22px;
    height:22px;
    background-color: darkgrey;
    border-radius: 50px;
}
.checkbox{
    opacity: 0;
}
.checkbox:checked + .label .ball{
    transform:translateX(24px);
}
@media screen and (max-width: 600px){
    
        .topnav{
            background-color: #c4a7e7;
            display:flex;
            flex-direction: column;
            align-items: center;
            border: 2rem;
            flex-grow: 2;
            grid-area:h;
            font-family: "Quicksand", sans-serif;
        }
        .container{
                display: grid;
                grid-template-columns: 20% 80% ;
                grid-template-rows: 3rem 1fr 3rem;
                grid-template-areas: "h h h"
                                     "s m m" 
                                     "f f f";
                width: 100vw;
                height: 100vh;
                
            }
        .txtbtn1,.txtbtn2{
            position: relative;
            left: 20px;
        }
        textarea{
            position:relative;
            right: 150px;

        }
        .item1{
            font-size: small;
            justify-content: center;
            align-items: center;
        }
        
        #addnotes{
            position:relative;
            right: 150px;
        }
    } 